.content{
    width: 80%;
    margin: 30px auto 50px auto;
}
.origin_post{
    margin: 20px auto;
    text-align: left;
    font-size: 18px;
    background-color: #c5c5c5;
    border-radius: 3px;
    padding: 20px 15px 20px 30px;
    box-sizing: border-box;
    border:3px solid  #c5c5c5;
    border-radius: 10px;
}
.edit_button button{
    text-align: center;
    border-style: none;
    font-size: 12px;
    width: 25px;
    height:30px;
    margin-right: 5px;
    padding:0px;
    background-color: #c5c5c5;
}

.post{
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comments li {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    list-style: none;
    text-align: left;
}

.date {
    font-size: 12px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 22px;
}
/* 원글의 좋아요&댓글*/
.like-comment{
    
}
.like-comment img{
    width:20px;
    height:20px;
    margin-right: 5px;
    box-sizing: border-box;
}

.write_comment textarea {
    margin-left:30px;
    margin-top:15px;
}
.write_comment input{
    text-align: center;
    border-style: none;
    width:100%; 
    height:100%;
}
/* 이 부분 크기 조절하는 거 모르면 주은이한테 물어보기 지금힘들어서 그만 둠*/
textarea{
    outline: none;
}