html, body, .wrap {
    height: 100%;
    text-align: center;
    margin: 0;
}
/* 상단 고정 */
.header {
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 60px;
    vertical-align: center;
    justify-content: space-between;
    background-color: #00462A;
}

.container {
    /* 사이트의 최소 높이값을 100% */
    min-height: 100%;
    /* 페이지를 벗어나 더 위로 100px만큼 -> footer 올라옴 */
    margin-top: -100px;
    /* 가려진 header와 끌어올린 footer의 높이값 만큼 부여 */
    padding-top: 200px;
    /* padding이나 border를 컨텐츠에 부여된 높이값에 포함 */
    box-sizing: border-box;
}
.content {
    height: 2300px;
    background-color: lightsalmon;
}
/* 하단 고정 */
.footer {
    position: fixed;
    bottom: 0; left:0; right:0;
    height: 100px;
    background-color: lightblue;
}
img {
    padding: 12 15 5 15;
    height: 40px;
    float: left;
}

/*검색창*/
.search_bar{
    position: relative;
    display: inline-block;
    top: 12px;
    float: left;
}
.search_bar input#search{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 35px;
    background: #00462A;
    border: 2px solid #AAAAAA;
    font-size: 10pt;
    color: #fff;
    padding-left: 10px;
    padding-right: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /*placeholder color*/
.search_bar input#search::-webkit-input-placeholder {
    color: #AAAAAA;
 }
 .search_bar  input#search:-moz-placeholder { /* Firefox 18- */
    color: #AAAAAA;  
 }
 .search_bar  input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #AAAAAA;  
 }
 .search_bar  input#search:-ms-input-placeholder {  
    color: #AAAAAA;  
 }
 .search_bar button{
    position: relative;
    left: -36px;
    border: 0 none;
    cursor: pointer;
    background-color: transparent;
    color: #AAAAAA;
  }
