html, body, .wrap {
    height: 100%;
    text-align: center;
    margin: 0;
}
/* 상단 고정 */
.header {
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 60px;
    background-color: #00462A;
    text-align: left;
    white-space: nowrap;
}

.container {
    /* 사이트의 최소 높이값을 100% */
    min-height: 100%;
    /* 페이지를 벗어나 더 위로 100px만큼 -> footer 올라옴 */
    margin-top: -100px;
    /* 가려진 header와 끌어올린 footer의 높이값 만큼 부여 */
    padding-top: 200px;
    /* padding이나 border를 컨텐츠에 부여된 높이값에 포함 */
    box-sizing: border-box;
}
.content {
    height: 2300px;
    background-color: lightsalmon;
}
/* 하단 고정 */
.footer {
    position: fixed;
    bottom: 0; left:0; right:0;
    height: 100px;
    background-color: lightblue;
}
#logo {
    padding: 12px 15px 5px 15px;
    height: 40px;
    float: left;
}
select,.search_bar {
    position: relative;
    top: 11px;
}
/*학기 드롭다운*/
select {
    width: 150px;
    height: 35px;
    background: no-repeat 95% 50%;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 10pt;
    color : #AAAAAA;
    border: 2px solid #AAAAAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*검색 바*/
.search_bar{
    position: relative;
    display: inline-block;
    left: 10px;
}
.search_bar input#search{
    width: 350px;
    height: 35px;
    background: #00462A;
    border: 2px solid #AAAAAA;
    color: #fff;
    padding-left: 10px;
    padding-right: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /*placeholder color*/
.search_bar input#search::-webkit-input-placeholder {
    color: #AAAAAA;
 }
 .search_bar  input#search:-moz-placeholder { /* Firefox 18- */
    color: #AAAAAA;  
 }
 .search_bar  input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #AAAAAA;  
 }
 .search_bar  input#search:-ms-input-placeholder {  
    color: #AAAAAA;  
 }
 .search_bar button{
    position: relative;
    left: -36px;
    border: 0 none;
    cursor: pointer;
    background: transparent;
    color: #AAAAAA;
    outline: none;
  }
.icons {
    position: relative;
    top: 16px;
    display: inline-block;
    padding-right: 15px;
    float: right;
}
.icons button { 
    border: 0 none;
    cursor: pointer;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 0px 10px 0px 10px;
