html, body, .wrap {
    min-width: 769px;
    height: 100%;
    text-align: center;
    margin: 0;    
}
/* 상단 고정 */
.header {
    z-index: 5;
    min-width: 769px;
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 60px;
    background-color: #00462A;
    text-align: left;
    white-space: nowrap;
}
.header #logo {
    padding: 12px 15px 5px 15px;
    height: 40px;
    float: left;
}
.header select, .header .search_bar {
    position: relative;
    top: 11px;
}
/*학기 드롭다운*/
.header select {
    width: 150px;
    height: 35px;
    background: no-repeat 95% 50%;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 10pt;
    color : #AAAAAA;
    border: 2px solid #AAAAAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*검색 바*/
.header .search_bar{
    position: relative;
    display: inline-block;
    left: 10px;
}
.header .search_bar #search{
    width: 350px;
    height: 35px;
    background: #00462A;
    border: 2px solid #AAAAAA;
    color: #fff;
    padding: 0 30px 0 10px;
    border-radius: 5px;
}
.header .search_bar #search:focus{ 
    outline: none;
}
.header .search_bar #search::placeholder {
    color: #AAAAAA;
 }
 .header .search_bar button{
    position: relative;
    left: -36px;
    border: 0 none;
    cursor: pointer;
    background: transparent;
    color: #AAAAAA;
    outline: none;
  }
.header::before{
    content: '';
    clear: both;
    display: block;
}
.header .icons {
    position: relative;
    top: 16px;
    padding-right: 15px;
    float: right;
}
.header .icons button { 
    border: 0 none;
    cursor: pointer;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 0px 10px 0px 10px;
}
.container {
    min-height: 100%; /* 사이트의 최소 높이값을 100% */
    padding-top: 60px;
    box-sizing: border-box;
    padding-bottom: 30px;
}