/* .menu::after{
    content:'';
    display: block;
    clear: both;
} */
.menu {
    position: fixed;
    top: 60px; right: 0; left: 0;
    background: white;
    border-bottom: 2px solid #e0dddd;
    box-sizing: border-box;
    height: 50px;
}
.subject{
    position: absolute;
    top: 15px;
    left: 20px;
    float: left;
    font-weight: bold;
}

.menu .navi li{
    display: inline-block;
}
.menu .navi li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 35px;
    color: #000;
}
.menu .navi:hover a,
.active a{
    font-weight: bold;
    color: red;
}
/* .nav-area #menu1{
    border-bottom: 3px solid #00462A;
    padding-bottom: 15px;
} */
.menu .write{
    position: absolute;
    right: 20px;
    bottom: 10px;
    float: right;
}
