/* .menu::after{
    content:'';
    display: block;
    clear: both;
} */
.menu {
    position: fixed;
    top: 60px; right: 0; left: 0;
    background: white;
    border-bottom: 2px solid #e0dddd;
    box-sizing: border-box;
    height: 50px;
}
.subject{
    position: absolute;
    top: 15px;
    left: 20px;
    float: left;
    font-weight: bold;
}

.menu .navi li{
    display: inline-block;
}
.menu .navi li a{
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 9px;
    margin: 0 20px;
    color: #00462A;
    box-sizing: border-box;
}

.menu .navi a:hover, .active{ /* */
    font-weight: bold;
    border-bottom: 3px solid #00462A;
}

.menu .write{
    position: absolute;
    right: 20px;
    bottom: 10px;
    float: right;
}
