/* content 영역 */
a {
    color: black;
    text-decoration: none;
}
/* 각각의 게시판 */
.content {
    width: 80%;
    margin: 10px auto;
    padding-bottom: 15px;
    /* 커서 손모양으로 바꿈 */
    cursor:pointer;
}
.delete-button{
    /* 커서 손모양으로 바꿈 */
    cursor:pointer;
}

.content .title, .text{
    margin: 0 auto;
}
.content .title{
    text-align: left;
    padding: 15px 0;
}
.content .title .name{
    position: relative;
    text-align: left;
    z-index: 2;
    display: inline-block;
}
.content .title .name span{
    background: white;
    font-weight: bold;
}
.content .title .line{
    position: relative;
    background: #bbbbbb;
    border: 1px solid #bbbbbb;
    top: -10px;
}
.content .title .delete-button{
    float: right;
    background: white;
    border: none;
    position: relative;
    outline: none;
}

.content .text{
    background-color: #f1f1f1;
    height: 120px;
    border-radius: 15px;
}
.content .text p{
    margin: 0 auto;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    text-align: left;
    width:97%;
    overflow:hidden;
    line-height: 39px;
}
.content .text .line{
    margin: 0 auto;
    width: 98%;
    position: relative;
    background: #dcdcdc;
    border: 0.1px solid #dcdcdc;
}
