.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

img{
    width: 400px;
}

.id_pw{
    width: 400px;
    height: 45px;
    margin-bottom: 10px;
    padding-left:10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px #aaaaaa;
}

.login_button{
    background-color: #00462A;
    width: 400px;
    height: 60px;
    text-align: center;
    color: #ffffff;
    border-style: none;
    font-weight: bold;
    font-size: 100%;
    border-radius: 3px;
}

input:focus{
    outline: none;
}

.signup_text{
    width: 400px;
    font-size: 13px;
    margin: 10px;
    text-align: left;
}

.link_text{
    float: right;
}

.link_text a{
    color: #007042;
    font-weight: bold;
}


