@charset "utf-8";

/* main page */
html, body, .container {
    height: 100%;
    width: 100%;
}
.container {
    display: table;
    table-layout: fixed;
    min-height: 100%;
    box-sizing: border-box;
}
/* 스크롤바 모양만 없애기 */
::-webkit-scrollbar {
    display: none;
}
.left {
    height: 100%;
    position: relative;
    display: table-cell;
    text-align: center;
}
.left .desc{
    margin: 0 auto;
    padding-top: 150px;
}
.left .desc .text1 {
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

.left .button {
    margin: 100px 0;
}

/* 회원가입 버튼 */
.left .button a{
    display: block;
    width: 400px;
    padding: 15px 10px;
    margin: 15px auto; 
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    font-size: 20px;
}
.left .button .join{
    background-color: white;
    color: #00462A;
    text-decoration: none;
}
.left .button .join:hover{
    text-decoration: underline;
}

/* 로그인 버튼*/
.login_button{
    background-color: #00462A;
    width: 424px;
    height: 54px;
    text-align: center;
    color: #ffffff;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.left .button .login_button{
    color: white;
    text-decoration: none;
}
.left .button .login_button:hover{
    text-decoration: underline;
}
/* id pw */
.id_pw{
    width: 424px;
    height: 45px;
    margin-bottom: 15px;
    padding-left:10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px #aaaaaa;
}

input:focus{
    outline: none;
}

/* 오른쪽 파트 */
.right{
    height: 100%;
    position: relative;
    display: table-cell;
    background: #00462A;
    text-decoration: none;
}
.right p{
    font-size: 25px;
    color: white;
    line-height: 35px;
}
.right .text2 {
    position: absolute;
    top: 30px;
    left: 30px;
}
.right .text3 {
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.right img{
    position: absolute;
    top: 200px;
}

