* {
	margin: 0;
	padding: 0;
}

/* 메뉴바 이하 섹션 */
.timeline {
    width: auto;
    margin-top: 30px;
    position: relative;
    height: auto;
    overflow: hidden;
} 

/* 타임라인 태그 리스트 */
.tags {
    width: 130px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin-left: 36px;
    padding-left: 0px;
}

/* 타임라인 태그들(동그라미+태그버튼) */
.tags li{
    list-style: none;
	line-height: 1;
	font-size: 100%;
    padding-left: 5px;
    padding-bottom: 80%;
    position: relative;
    text-align: left;
}

/* 태그 버튼 */
.tag{
    border: none;
}

/* 타임라인 동그라미 */
.point {
    min-width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 100%;
    z-index: 0;
    border: 3px #ffffff solid;
    position: relative;
    left: -4.5px;
    float: left;
}

/* 타임라인 직선 */
.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 45.4px;
    background-color: #cccccc;
}

/* 타임라인 태그 버튼 */
.tags button {
    line-height: 25px;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    background:none;
    cursor: pointer;
    outline:0;
}

/* 타임라인 태그 눌러도 테두리 안생기도록*/
.button:focus{
    border:none;
}

/* 게시글 영역 */
.postings{
    float:center;
    margin-left: 15%;
    margin-right: 5%;
}

/* 게시글 div */
.post{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 8px 15px 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 150%;
}

/* 게시글 */
.postings li {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
}

/* 날짜 */
.postings li .date {
    font-size: 12px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 22px;
}

/* 댓글 수 */
.like-comment{
    float: right;
    vertical-align: middle;
    display: flex;
}

/* 댓글 아이콘 */
.like-comment img{
    width:20px;
    height:20px;
    margin-right: 5px;
    box-sizing: border-box;
}

/* 강의평가 */
.eval{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px 15px 5px 15px;
    box-sizing: border-box;
}

/* 해쉬 태그 */
.hashtag{
    margin-bottom: 2px;
    font-size:11px;
    font-weight: bold;
    color: #0b7915;
}

/* 스크롤바 모양만 없애기 */
::-webkit-scrollbar {
    display: none;
}