* {
	margin: 0;
	padding: 0;
}

.tag{
    border: none;
}

.timeline {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
} 

.tags {
    width: 130px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin-left: 2%;
    padding-left: 0px;
}

.tags li{
    list-style: none;
	line-height: 1;
	font-size: 100%;
    padding-left: 5px;
    padding-bottom: 80%;
    position: relative;
    text-align: left;
}

.point {
    min-width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 100%;
    z-index: 0;
    border: 3px #ffffff solid;
    position: relative;
    /* 전체화면으로 보면 -5보다 -4가 좀더 나은듯....? */
    left: -4%;
    float: left;
}

/* 타임라인 길이는 여기서 조절 */
.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 2.5%;
    background-color: #cccccc;
}

.tags button {
    line-height: 25px;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    background:none;
    cursor: pointer;
    outline:0;
}

.button:focus{
    border:none;
}

.postings{
    float:center;
    margin-left: 15%;
    margin-right: 5%;
}

.post{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px 15px 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.postings li {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
}

.postings li p {
    font-size: 12px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 22px;
}

.like-comment{
    float: right;
    vertical-align: middle;
    display: flex;
}

.like-comment img{
    width:20px;
    height:20px;
    margin-right: 5px;
    box-sizing: border-box;
}

.eval{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px 15px 5px 15px;
    box-sizing: border-box;
}